.box{
	display: flex;
	justify-content: space-between;
}
.a{
	width: 50px;
	height: 50px;
	background-color: green;
	padding: 20px;
	box-sizing: border-box;
}
.b{
	width: 50px;
	height: 50px;
	background-color: red;
	padding: 20px;
	box-sizing: border-box;
}
.c{
	width: 50px;
	height: 50px;
	background-color: blue;
	padding: 20px;
	box-sizing: border-box;
}

.holder{
	display: flex;
	flex-wrap: wrap;
}
.item{
	justify-content: space-between;
	width: 50px;
	height: 50px;
	background-color: green;
	padding: 20px;
	margin: 3px;
	box-sizing: border-box;
}
.item0{
	justify-content: space-between;
	width: 50px;
	height: 50px;
	background-color: red;
	padding: 20px;
	margin: 3px;
	box-sizing: border-box;
}
.item1{
	justify-content: space-between;
	width: 50px;
	height: 50px;
	background-color: blue;
	padding: 20px;
	margin: 3px;
	box-sizing: border-box;
}
